---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

/*
 * Equations with KaTeX
 *
 * Center the equation content.
 */
.equation {
  padding-bottom:  1rem;
  padding-top:     1rem;
  text-align:      center;
  font-size:       1.5em;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
